@import "fonts.css";

/*--------------------------
Styles
----------------------------

Media Queries

Mobile: <768px;
Desktop: >= 768px;

----------------------------

Colors:

Magenta: #ec008c;
Light gray: #eee;
White: #fff;
Translucent Black: rgba(0, 0, 0, 0.5);

-----------------------------*/


/*--------------------------- 
------- Hamburger menu -------
-----------------------------*/


.navbar-toggle {
  float: left;
  border: none;
  color: #fff;
  background-color: none;
}

.navbar-default .navbar-toggle:hover{
  background: none;
}

.navbar-default .navbar-toggle:focus{
  display: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}


/*-----------------------------
--------- Navbar brand -------- 
-----------------------------*/

.nav-brand{
  width: 55px;
  height: 20px;
}

@media(max-width: 768px){ .navbar-brand>img {
  display:none;
}}


/*-----------------------------
----- Primary Navigation -----
-----------------------------*/


li {
  margin-right: 10px;
}

.navbar-default{
  background: #ec008c;
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;  
  font-family: 'HUGEAvantGardeBold';
  font-size: 21px;
  line-height: 48px;
}
@media(max-width: 768px){.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  background: #fff;
}}

.navbar-default .navbar-nav>li>a{
  color: #fff;
}
@media(max-width: 768px){ .navbar-default .navbar-nav>li>a {
    color: black;
    background: white;
}}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  color: #ec008c;
  background:  #fff;
}
@media(max-width: 768px){ .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  color: black;
  background: #eee;
}}


/*-----------------------------
---- Secondary Navigation ----
-----------------------------*/


.navbar-inverse {
    background: rgba(15,0,111,0.6);
    border-color: #030033;
}

.dropdown-menu{
  border-radius: 0px;
  font-size: 16px;
  font-family: 'Galaxie';
}

.dropdown-menu>li>a {
  line-height: 48px;
}


ul.nav a {
  color: black;
}

ul.nav a:hover {
  color: #ec008c;
  background: #eee !important;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #ec008c;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: black;
}


/*-----------------------------
--------- Content -------------
-----------------------------*/


/** Huge background image for desktop and mobile**/
@media (min-width: 768px) { .container-headline {
  background: url(../images/background-image.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center top;
  position: relative; 
  height: 640px;
}}
@media (max-width: 768px) { .container-headline {
  background: url(../images/background-image.jpg) no-repeat;
  background-position: center top;
  position: relative; 
  height: 380px;
  background-size: 100%;
}}
@media (max-width: 600px) { .container-headline { height:300px;}}
@media (max-width: 500px) { .container-headline { height:200px;}}


/** Adjust headline text size and font for desktop **/
@media (min-width: 768px) { .headline {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-family: 'HUGEAvantGardeBold';
  font-size: 120px;
  line-height: 132px;
}}
@media (max-width: 768px) { .headline {
  display:none;}}


/** Adjust headline text size and font for mobile **/
@media (min-width: 768px) { .mobile-headline {
  display: none;}}
@media (max-width: 768px) { .mobile-headline {
  color: black;
  font-family: 'HUGEAvantGardeBold';
  font-size: 44px;
  line-height: 48px;
}}


/** Adjust body copy text size and font for mobile and desktop**/
@media (min-width: 768px) { .body-copy {
  margin-top: 20px;
  margin-bottom: 10px;
  color: black;
  font-family: 'Galaxie';
  font-size: 24px;
  line-height: 36px;
}}
@media (max-width: 768px) { .body-copy {
  margin-bottom: 10px;
  color: black;
  font-family: 'Galaxie';
  font-size: 14px;
  line-height: 24px;
}}