@import "fonts.css";

/*-------------------------
Styles
---------------------------

Media Queries

Mobile: <768px;
Desktop: >= 768px;

----------------------------

Colors

Magenta: #ec008c;
Light gray: #eee;
White: #fff;
Translucent Black: rgba(0, 0, 0, 0.5);


/*----------- Body -----------*/

body {
  background: url(../images/background-image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 
/*------ Hamburger menu ------*/

.navbar-toggle {
  float: left;
  border: none;
}


/*------- Navbar brand ------- */

.nav-brand{
  width: 50px;
  height: 20px;
}


/*---- Primary Navigation ----*/

.navbar-default{
  background: #ec008c;
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a{
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  color: #ec008c;
  background:  #fff;
}


/*--- Secondary Navigation ---*/

.dropdown-menu{
  border-radius: 0px;
}
ul.nav a {
  color: black;
}

ul.nav a:hover {
  color: #ec008c;
  background: #eee;
}


/*----=---- Content ----------*/

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  font: HUGEAvantGardeBold;
  font-size: 120px;
  letter-spacing: -0.06em;
  text-align: center;
  color: #fff;
}

#svg-image-blur {
  display: none;
}