@import "fonts.css";

/*---------------
Styles
-----------------

Media Queries

Mobile: <768px;
Desktop: >= 768px;

-----------------

Colors

Magenta: #ec008c;
Light gray: #eee;
White: #fff;
Translucent Black: rgba(0, 0, 0, 0.5);


---------------*/

body {
  background-image: url(../images/background-image.jpg);
}

.navbar-default{
  background: #ec008c;
  border: none;
  border-radius: 0px;
}

.navbar-custom .navbar-nav .open .dropdown-menu  > li > a{
  color: black;
}

/* Hamburger menu pull left no border*/
.navbar-toggle {
  float: left;
  border: none;
}

.navbar-default .navbar-nav>li>a{
  color: #fff;
}


ul.nav a {
  color: #fff;
  &:hover {
    color: #ec008c;
    background: #fff;
  }
}

/* Navbar brand- white HUGE logo */
.nav-brand{
  width: 50px;
  height: 20px;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  font: HUGEAvantGardeBold;
  font-size: 120px;
  letter-spacing: -0.06em;
  text-align: center;
  color: #fff;
}